<template>
  <div class="aboutPage">
    <div class="gradient-section">
      <h1 class="title">About us</h1>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae
        eos at sit reprehenderit illum dignissimos tenetur dicta! Ut est modi,
        aliquam earum totam corporis officia fugiat ipsa quis animi.
      </p>
    </div>
    <img class="heroAbout" src="@/assets/img/heroAbout.jpg" />
  </div>
</template>
<script>
export default {
  name: 'AboutComponent',
}
</script>
