<template>
    <v-app>
      <header>
        <v-toolbar class="header" color="primary" dark fixed app>
          <v-toolbar-title>Vyntra</v-toolbar-title>
          <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/register">Sign up</router-link> |
            <router-link to="/login">Login</router-link>
          </div>
        </v-toolbar>
      </header>
      <router-view />
      <v-footer dark padless>
        <v-card class="flex" flat tile>
          <v-card-title class="primary">
            <strong class="subheading">Get connected with us on social networks!</strong>
  
            <v-spacer></v-spacer>
            <v-btn
              href="https://www.facebook.com/groups/vuejsdevelopers/"
              target="_blank"
              icon
            >
              <span class="group pa-2">
                <v-icon medium>mdi-facebook</v-icon>
              </span>
            </v-btn>
            <v-btn href="https://twitter.com/vuejs" target="_blank" icon>
              <span class="group pa-2">
                <v-icon medium>mdi-twitter</v-icon>
              </span>
            </v-btn>
            <v-btn href="https://github.com/vuejs/vue" target="_blank" icon>
              <span class="group pa-2">
                <v-icon medium>mdi-github</v-icon>
              </span>
            </v-btn>
            <v-btn
              href="https://www.instagram.com/vuejsdevelopers/?hl=en"
              target="_blank"
              icon
            >
              <span class="group pa-2">
                <v-icon medium>mdi-instagram</v-icon>
              </span>
            </v-btn>
            <v-btn
              href="https://au.linkedin.com/company/vuejsdevelopers"
              target="_blank"
              icon
            >
              <span class="group pa-2">
                <v-icon medium>mdi-linkedin</v-icon>
              </span>
            </v-btn>
          </v-card-title>
        </v-card>
      </v-footer>
    </v-app>
  </template>
  <script>
  export default{
    name: 'navigationComponent',
  }
  </script>