<template>
  <div><Navbar/>
  <Cart/>
  <router-view/></div>
  
</template>
<script>
import Navbar from './components/Navbar.vue';
export default {
  name: 'App',
  components: {
    Navbar,
  }
}
</script>
<script>

export default {
  name: 'App',

  data: () => ({
  }),
};
</script>
